body {
    padding: 0;
    margin: 0;
    background: #1a1a1a;
    color: white;
}

body * {
    font-family: 'Georgia';
    font-weight: normal;
}

strong {
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #1a1a1a;
    border-bottom: 1px solid gray;
}

header a {
    text-decoration: none;
    color: white;
}

footer {
    margin: auto;
    text-align: center;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

iframe {
    width: 100%;
    height: 600px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.side-by-side-layout {
    display: flex;
    flex-direction: row;
    /* height: 90vh; */
    justify-content: space-between;
}

.home-banner {
    background: url("images/banner-secondary.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: black;
    position: relative;
    flex-basis: 40%;
    height: 80vh;
}

.home-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 30vw;
    text-align: center;
    margin: auto;
}

.home-banner-content img {
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

.link-tray-dark {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 1rem;
}

.link-tray-light {
    display: none;
}

.fancy-button {
    border-radius: 32px;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    background-color: transparent;
}

.fancy-button-light {
    border: 1.5px solid gray;
    color: white;
}

.fancy-button-dark {
    border: 1.5px solid black;
    color: black;
}

.adaptive-border-button {
    border: 1.5px solid gray;
    color: white;
}

.fancy-button-light:hover {
    background: gray;
    cursor: pointer;
}

.fancy-button-dark:hover {
    background: black;
    cursor: pointer;
    color: white;
}

.adaptive-border-button:hover {
    background: gray;
    color: white;
    cursor: pointer;
}

.main-content {
    max-width: 1024px;
    box-sizing: border-box;
    padding: 2rem;
    position: relative;
    margin: auto;
    flex-basis: 60%;
}

.even-split {
    max-width: 1024px;
    box-sizing: border-box;
    padding: 2rem;
    flex-basis: 50%;
}

.page-header {
    margin-bottom: 2rem;
}

.page-header-centered {
    margin-top: 2rem;
    text-align: center;
}

.page-header-hidden {
    display: none;
}

.portfolio-gallery-item {
    display: flex;  
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio-gallery-item a {
    flex-basis: 25%;
}

.portfolio-gallery-item-text {
    flex-basis: 75%;
}

.portfolio-gallery-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid gray;
}

.resume-banner {
    max-width: 1024px;
    width: 40%;
    box-sizing: border-box;
    padding: 2rem;
}

footer .fancy-button-dark {
    display: none;
}